:root {
    --safestake-off-black-darker: #111111;
    --safestake-off-black: #2d2d2d;
    --safestake-off-black-lighter: #3d3d3d;
    --safestake-gold: #bf912d;
    --safestake-gold-darker: #9b7324;
    --safestake-gold-lighter: #dba946;
    overflow-x:hidden;
}