.home {
  text-align: center;
  padding-bottom: 2rem;
}

.mainContentContainer {
  padding: 50px;
  text-align: center;
}

.mainContentContainer h2 {
  font-size: 2.5em;
  width: 50%;
  margin: 0 auto;
}

.stakingListContainer {
  margin: 2rem 0 0 0;
}

.inDebtMessage {
  color: red;
  margin: 1rem 0;
}

.filterForm {
  margin-top: 2rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4rem;
}

.filterButtonRow {
  margin-top: 1rem;
}