# ignore node dependency directories
node_modules/

# production
/client/build

# truffle compiled smart contracts
/client/src/contracts

# python cache
__pycache__/

# vim swaps
.*.swp
*.swp
*.swo
.*.sw

# environment variable files
.env

.DS_Store